@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
.page {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */
}
#LandingPage {
  background-image: url("./assets/northern-lights-3273425.jpg");
  background-size: cover;
}
.landing-flex-grid {
  margin: 50px;
  display: grid;
  grid-template-columns: 4fr 1fr 5fr;
  grid-template-rows: 50% 50%;

}
.profile-picture {
  border-radius: 50%;
  max-width: 25vw;
  height: auto;
  grid-column-start: 1;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}
h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  color: white;
}
h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: #013535;
}
.name {
  font-weight: 500;
  font-size: 7vw;
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}
.occupation {
  font-weight: 400;
  font-size: 3.5vw;
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.greeting-container {
  position: absolute;
  display: flex;
  top: 50%;
  width: 100%;
  justify-content: center;
  animation: rise2 10s ease 10s forwards;
}
.greeting {
  position: absolute;
  z-index: 3;
  color: white;
  top: 50%;
  opacity: 0.8;
  font-family: "Mavon Pro", sans-serif;
  font-size: 1vw;
  font-weight: 550;
}
.sun-container {
  position: absolute;
  display: flex;
  top: 50%;
  width: 100%;
  justify-content: center;
  animation: rise 25s ease 0s forwards;
  animation-play-state: running;
}
.sun-container-active {
  animation: rise 25s ease 0s forwards;
  animation-play-state: running;
}
.sun {
  position: relative;
  z-index: 2;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: linear-gradient(#ff0, #d00);
  box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
}
.sea {
  z-index: 4;
  position: absolute;
  background: radial-gradient(at 50% 0%, #013333, #002);
  top: 50%;
  opacity: 0.99;
  height:50%;
  width: 100%;
}
.sky {
  z-index: 1;
  position: absolute;
  opacity: 1;
  background: radial-gradient(at 50% 80%, #00564b, #013535, #0a1020, #090916);
  width: 100%;
  height: 50%;
  top: 0;

}
.light {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white, black);
  animation: over 10s ease forwards;
}
.dawn {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(at 50% 50%, pink, transparent);
  animation: over 10s ease forwards;
}

@keyframes rise{
  0%{
    top: 50%;
  }
  100%{
    top: 25%;
  }
}

@keyframes rise2{
  0%{
    top: 50%;
  }
  100%{
    top: 43.5%;
  }
}
@keyframes over{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.1;
  }
}
.contents-flex-grid {
  display: grid;
  grid-template-columns: 1fr 11fr 1fr 3fr 2fr 7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-flex-grid {
  display: grid;
  grid-template-columns: 1fr 11fr 1fr 3fr 2fr 7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.contents-text {
  color: #013535;
  font-size: 2vw;
  font-weight: 400;
  grid-column: 7;
}
.contents-title {
  color: #013535;
  grid-column: 2;
  grid-row: 1 / 6;
  font-size: 4vw;
  font-weight: 600;
  word-wrap: break-word;
}
.contents-icon {
  grid-column: 5;
  width: 4vw;
  height: 4vh;
  filter: invert(15%) sepia(58%) saturate(800%) hue-rotate(134deg) brightness(96%) contrast(104%);
  
}
.contents-links {
  justify-self: left;
}
.contents-image {
  width: 100%;
  height: 100%;
}
.timeline-element {
  color: black;
  fill: black;
  
}
.date-text {
  color: #013535;
  font-size: 20px;
}
#ContentsPage {
  background: radial-gradient(at 50% 100%, white, lightgrey);
}
#AboutMePage {
  background: radial-gradient(at 50% 0%, white, lightgrey);
}
#AboutMePage2 {
  background: radial-gradient(at 50% 100%, white, lightgrey);
}
#EducationPage {
  background: radial-gradient(at 50% 0%, white, lightgrey);
}
#WorkExperiencePage {
  background: radial-gradient(at 50% 100%, white, lightgrey);
}
#ShowCasePage1 {
  background: radial-gradient(at 50% 0%, white, lightgrey);
}
#ShowCasePage2 {
  background: radial-gradient(at 50% 100%, white, lightgrey);
}
#ContactPage {
  background: radial-gradient(at 50% 1000%, white, lightgrey);
  
}
/* @supports not (scroll-snap-type: y mandatory) {
  .container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: none;
  }
} */
/* The line */
.vertical-timeline::before {
  background: #013535 !important;
  opacity: 0.4;
  border-radius: 50%;
}
/* Icon container's border */
.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05) ;
}
.vertical-timeline-element {
  font-family: "Maven Pro";
}
.vertical-timeline--two-columns .vertical-timeline-element-icon .flag-size {
  width: 40px;
  height: 40px;
}
.showcase-container {
  /* border: 2px solid orange; */
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px 50px 50px 50px;
  height: 80vh;
  width: 75vw;
}
.showcase-gallery {
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  /* border: 2px solid red; */
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.showcase-page {  
  grid-column: 1;
  grid-row: 1 / 3;
  height: auto;
  max-width: 100%;
}
.showcase-graphs {
  grid-column: 2;
  grid-row: 1 / 3;
  /* border: 2px solid blue; */
  display: flex;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center
}
.showcase-linechart {
  width: 100%;
  max-height: 100%;
}
.showcase-whitespace {
  background: white;
  height: 100%;
  width: 100%;
}
.showcase-piechart {
  width: 100%;
  max-height: 100%;
}
.showcase-text {
  /* border: 2px solid green; */
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px;
}
.showcase-title {
  font-family: "Maven Pro";
  font-size: 30px;
  font-weight: 600;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 20px;
}
.showcase-description {
  font-family: "Maven Pro";
  font-size: 15px;
  font-weight: 400;
  grid-column: 2;
  grid-row: 2;
}
/* .showcase-buttons-container {
  display: flex;
  justify-content: left;
  align-content: space-between;
  flex-direction: row;
  grid-column-start: 3;
  grid-row-start: 3;
  font-weight: 500;
  margin-top: 30px;
  height: 8vh;
  max-width: 100%;
}
.showcase-buttons {

} */

@media only screen and (max-width: 1169px) {
  .greeting {
    position: absolute;
    z-index: 3;
    color: white;
    opacity: 0.8;
    font-family: "Mavon Pro", sans-serif;
    font-size: 2.5vw;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-icon .logo-size {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .date-text {
    color: white;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon .flag-size {
    width: 60px;
    height: 60px;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-icon .logo-size {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 1169px) {
  .greeting {
    position: absolute;
    z-index: 3;
    color: white;
    opacity: 0.8;
    font-family: "Mavon Pro", sans-serif;
    font-size: 2.5vw;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-icon .logo-size {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .date-text {
    color: white;
    font-size: 15px;
  }
}
@media only screen and ((max-width: 812px) or (max-width: 414px)) and ((max-height: 414px) or (max-height:812px)) {
  .vertical-timeline {
    font-size: 10px !important;
  }
  .showcase-container {
    /* border: 2px solid orange; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px 50px 50px 50px;
    height: 90vh;
    width: 90vw;
  }
  .showcase-gallery {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2fr;
  }
  .showcase-page {  
    grid-column: 1;
    grid-row: 1;
    height: auto;
    max-width: 100%;
  }
  .showcase-graphs {
    grid-column: 1;
    grid-row: 2;
    /* border: 2px solid blue; */
    display: flex;
    max-height: 100%;
    width: auto;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  .showcase-linechart {
    width: 100%;
    max-height: 100%;
  }
  .showcase-whitespace {
    background: white;
    max-height: 100%;
    width: auto;
  }
  .showcase-piechart {
    width: 100%;
    max-height: 100%;
  }
  .showcase-text {
    /* border: 2px solid green; */
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
  
  }
  .showcase-title {
    font-family: "Maven Pro";
    font-size: 20px;
    font-weight: 600;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 20px;
  }
  .showcase-description {
    font-family: "Maven Pro";
    font-size: 10px;
    font-weight: 400;
    grid-column: 2;
    grid-row: 2;
  }
}